---
import logo from '../assets/cloud9.svg?raw';
---

<header class="bg-gradient-to-r from-sky-600 via-sky-500 to-sky-400 border-b">
  <div class="max-w-6xl mx-auto flex items-center gap-3 px-6 py-4">
    <span class="text-white w-14 h-auto" set:html={logo} />
    <span class="text-xl font-semibold tracking-wide font-sans text-white">Cloud 9 Aviation</span>
  </div>
</header>

